/build
/standalone
/tds
standalone.zip
standalone.tds.zip
*.aux
*.out
.svn
*.aux
*.bbl
*.blg
*.cod
*.exa
*.fdb_latexmk
*.glo
*.gls
*.lof
*.log
*.lot
*.out
*.pdf
*.dvi
*.que
*.run.xml
*.sta
*.stp
*.svn
*.svt
*.toc
*.swp
.*.swp
*.zip
*.tar.gz
*.tar.bz
*.synctex.gz
?